
dataSources:
  ds_0:
    dataSourceClassName: com.zaxxer.hikari.HikariDataSource
    driverClassName: org.postgresql.Driver
    jdbcUrl: jdbc:postgresql://localhost:5435/transaction
    username: postgres
    password: postgres
    connectionTimeout: 30000
    maximumPoolSize: 10
  ds_1:
    dataSourceClassName: com.zaxxer.hikari.HikariDataSource
    driverClassName: org.postgresql.Driver
    jdbcUrl: jdbc:postgresql://localhost:5436/transaction
    username: postgres
    password: postgres
    connectionTimeout: 30000
    maximumPoolSize: 10

rules:
  - !SHARDING
    tables:
      transactions:
        actualDataNodes: ds_${0..1}.transactions
        tableStrategy:
          standard:
            shardingColumn: user_uid
            shardingAlgorithmName: user_uid_hash
        keyGenerateStrategy:
          column: uid
          keyGeneratorName: uuid
      wallets:
        actualDataNodes: ds_${0..1}.wallets
        tableStrategy:
          standard:
            shardingColumn: user_uid
            shardingAlgorithmName: user_uid_hash
        keyGenerateStrategy:
          column: uid
          keyGeneratorName: uuid

    broadcastTables:
      - wallet_types

    shardingAlgorithms:
      user_uid_hash:
        type: HASH_MOD
        props:
          sharding-count: 2

    keyGenerators:
      uuid:
        type: UUID

props:
  sql-show: true
