dataSources:
  ds_0:
    dataSourceClassName: com.zaxxer.hikari.HikariDataSource
    driverClassName: org.postgresql.Driver
    jdbcUrl: %s
    username: %s
    password: %s
    connectionTimeout: 30000
    maximumPoolSize: 5
  ds_1:
    dataSourceClassName: com.zaxxer.hikari.HikariDataSource
    driverClassName: org.postgresql.Driver
    jdbcUrl: %s
    username: %s
    password: %s
    connectionTimeout: 30000
    maximumPoolSize: 5

rules:
  - !SHARDING
    tables:
      transactions:
        actualDataNodes: ds_${0..1}.transactions
        databaseStrategy:
          standard:
            shardingColumn: user_uid
            shardingAlgorithmName: user_uid_hash
        keyGenerateStrategy:
          column: uid
          keyGeneratorName: uuid
      wallets:
        actualDataNodes: ds_${0..1}.wallets
        databaseStrategy:
          standard:
            shardingColumn: user_uid
            shardingAlgorithmName: user_uid_hash
        keyGenerateStrategy:
          column: uid
          keyGeneratorName: uuid

    shardingAlgorithms:
      user_uid_hash:
        type: INLINE
        props:
          algorithm-expression: "ds_${Math.abs(user_uid.hashCode()) % 2}"

    keyGenerators:
      uuid:
        type: UUID

  - !BROADCAST
    tables:
      - wallet_types

props:
  sql-show: true