server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /tmp/positions.yaml

clients:
  - url: http://loki:3100/loki/api/v1/push

scrape_configs:
  - job_name: docker
    docker_sd_configs:
      - host: unix:///var/run/docker.sock
        refresh_interval: 5s

    pipeline_stages:
      - docker: {}

      - match:
          selector: '{service="individuals-api"}'
          stages:
            - json:
                expressions:
                  level: level
                  msg: message
                  logger: logger_name
                  thread: thread_name
                  ts: '["@timestamp"]'
            - timestamp:
                source: ts
                format: RFC3339Nano
            - labels:
                level:
            - output:
                source: msg

    relabel_configs:
      - target_label: job
        replacement: docker

      - source_labels: [__meta_docker_container_label_com_docker_compose_project]
        target_label: project

      - source_labels: [__meta_docker_container_label_com_docker_compose_service]
        target_label: service

      - source_labels: [__meta_docker_container_name]
        regex: "/(.*)"
        target_label: container
        replacement: "$1"

      - source_labels: [__meta_docker_container_label_env]
        target_label: env