server:
  port: 8081

spring:
  application:
    name: individuals-api

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8080/realms/individuals

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  endpoint:
    health:
      show-details: always

keycloak:
  base-url: http://localhost:8080
  realm: individuals
  client-id: individuals-client
  client-secret: secret
  admin:
    username: admin
    password: admin

logging:
  level:
    root: INFO
    org.springframework.web: INFO