server:
  port: ${SERVER_PORT:8081}

spring:
  application:
    name: individuals-api

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${KEYCLOAK_ISSUER_URI:${KEYCLOAK_BASE_URL:http://localhost:8080}/realms/${KEYCLOAK_REALM:individuals}}

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus,metrics
  metrics:
    distribution:
      percentiles-histogram:
        http:
          server:
            requests: true
      percentiles:
        http:
          server:
            requests: 0.95,0.99
  endpoint:
    health:
      show-details: always

keycloak:
  base-url: ${KEYCLOAK_BASE_URL:http://localhost:8080}
  realm: ${KEYCLOAK_REALM:individuals}
  client-id: ${KEYCLOAK_CLIENT_ID:individuals-client}
  client-secret: ${KEYCLOAK_CLIENT_SECRET:secret}
  admin:
    username: ${KEYCLOAK_ADMIN_USERNAME:admin}
    password: ${KEYCLOAK_ADMIN_PASSWORD:admin}

logging:
  level:
    root: INFO
    org.springframework.web: INFO